<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catherine_is_awesome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <h1>BASE RATE NEGLECT: THE HOW, WHAT & WHY</h1>
    </header>
    <section>
        <img src="../static/images/home_comic.png" width=61%>
    </section>
    <div class="border1">
        Have you ever seen someone who looks like Harry Styles in your hometown supermarket and decided it must be him without pausing to think about the probability Harry Styles would be in Atchison, Kansas? This is a phenomenon called base rate neglect. The term base rate neglect can be used to describe any situation in which a prior probability isn’t weighted sufficiently. People don’t adequately consider the base rate or prior probability of an event occurring when reviewing new, case-specific information. Base rate neglect takes many forms. Here are two of the most commonly studied forms of base rate neglect. 
    </div>
    <div class="container">
        <img src="../static/images/home_comic2.png" width=60%>
    </div>
    <div class="container">
        <div class="box" onclick="location.href='/first';">
            <div>In a study, 1000 people were tested. Among the participants there were 995 nurses and 5 doctors. Cathy is a randomly chosen participant of this study. Cathy is 34 years old. She lives in a beautiful home in a posh suburb. She is well spoken and very interested in politics. She invests a lot of time into her career. Is Cathy more likely to be a doctor or a nurse? (Pennycook and Thompson 528) </div>
        </div>
        <div class="box" onclick="location.href='/second';">
            <div>The probability of breast cancer is 1% for a woman at age 40 who participates in routine screening. If a woman has breast cancer, the probability is 80% that she will get a positive mammography. If a woman does not have breast cancer, the probability is 9.6% that she will also get a positive mammography. A woman in this age group had a positive mammography in a routine screening. What is the probability she actually has breast cancer? (Gigerenzer & Hoffrage 685) </div>
        </div>
        <div class="box2" onclick="location.href='/ref';">
            <div>References</div>
        </div>
    </div>
    
</body>

</html>
