<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catherine_is_awesome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <header>
        <h1>REFERENCES</h1>
    </header>
    <div class="border2">
        <p>Pennycook, Gordon, and Valerie A. Thompson. “Reasoning with base rates is routine, relatively effortless, and context dependent.” <em>Psychonomic Bulletin &amp; Review,</em> vol. 19, no. 3, 17 Mar. 2012, pp. 528–534, https://doi.org/10.3758/s13423-012-0249-3. 
        </p>
        <p>Ajzen, Icek. “Intuitive theories of events and the effects of base-rate information on prediction.” <em>Journal of Personality and Social Psychology</em>, vol. 35, no. 5, 1977, pp. 303–314, https://doi.org/10.1037//0022-3514.35.5.303. </p>
        <p>Evans, Jonathan St. “Dual-processing accounts of reasoning, judgment, and social cognition.” <em>Annual Review of Psychology</em>, vol. 59, no. 1, 1 Jan. 2008, pp. 255–278, https://doi.org/10.1146/annurev.psych.59.103006.093629. </p>
        <p>Ullman, Tomer. “The Dead Hand of the Past.” PSY 1322, 7 Mar. 2024, William James 105, Cambridge. Lecture.</p>
        <p>Gigerenzer, Gerd, and Ulrich Hoffrage. “How to improve Bayesian reasoning without instruction: Frequency formats.” <em>Psychological Review,</em> vol. 102, no. 4, 1995, pp. 684–704, https://doi.org/10.1037//0033-295x.102.4.684. </p>
        <p>Ullman, Tomer. “Would you Bet Your Life on it?” PSY 1322, 27 Feb. 2024, William James 105, Cambridge.  Lecture. 
        </p>
        <p>Pennycook, Gordon, et al. “Base-rate neglect.” <em>Cognitive Illusions</em>, 2 Feb. 2022, pp. 44–60, https://doi.org/10.4324/9781003154730-5.</p>
        <p>Barbey, Aron K., and Steven A. Sloman. “Base-rate respect: From ecological rationality to dual processes.” <em>Behavioral and Brain Sciences</em>, vol. 30, no. 3, June 2007, pp. 241–254, https://doi.org/10.1017/s0140525x07001653. </p>
    </div>
</body>
</html>